body{background-color: #333333; letter-spacing: 0.15em;}
#main{
    width: 367.5px; min-height: 400px; margin: 0 auto;
            background-color: #E6E6E6; border-radius: 0px 0px 15px 15px;
             margin-top: 65px; 
}
#content{padding: 50px; width: 250px; }
input{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    width:200px;
    min-height: 28px;
    padding: 4px 20px 4px 8px;
    font-size: 12px;
    outline-color: #666666;
}
input:focus{
    width: 220px;
}
input[type=submit]{
    width: 200px;
    margin-left: -25px;
}
.click{
    min-width: 71px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 15px 15px 0px 0px; 
    cursor: pointer;
    float: left;
    margin-top: -39px;
}
.click:first-child{
    background-color: #E6E6E6;
    float: left;
}
.click:last-child{
    float: left;
}
.click:hover{
    
}
#menu{
}

.submit{
    margin-top: 2em;
    border-radius: 8px;
    line-height: 1.5em;
    font-size: 1.3em;
    color: #fff;
    background-color: #333333;
    background-repeat: repeat-x;
    /*background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);*/
    background-image: -webkit-linear-gradient(top, #666666, #333333);
}
.submit:hover
{
    background-position: 0 -5px;
}
.login{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
input[type=checkbox]{
    width: 20px;
    margin-top: 20px;
    float: left
}
label{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
login_error{
    
}
