body
{
    background-color: #FF5F5E;
    margin: 0
}
#menu{
    height: 100%;
    width: 250px;
    background-color: #5C5C5C;
    top: 0px;
    left: 0px;
    position: fixed;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 100;
}
#menu .item{
    margin-bottom: 10px
}
.content-menu{
    position: absolute;
    width: 150px;
    height: 250px;
    right: 0px;
    left: 0px;
    margin: 200px auto auto auto;
}
#content{
    width: 100%;
    height: 100%;
}
.part{
    position: relative;
    overflow: hidden;
    margin-left: 250px;
}
.part .title h2
{
    color: #5C5C5C;
}
.part .form
{
    width: 700px;
    margin: 120px auto auto auto;
    height: 400px;
}
.form .form-text{
    margin-bottom: 50px;
}
.title{
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width:  350px;
    color: #5C5C5C;
    margin-bottom: 20px;
    text-align: center
}
.byline{
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#logo
{
    padding-bottom: 100px;
}

a
{
    text-decoration: none;
    color: white;
}

span
{
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: rgba(255,255,255,0.5);
}

span a
{
    color: rgba(255,255,255,0.8);
}

#levelImg{
    width: 150px;

}
.badgeImg{
    float: left;
    width: 150px;
}
.user{
    position: relative;
    left: 0;
    right: 0;
    margin: 120px auto auto auto;
    width: 600px;
    height: 190px;
}

.name{
    margin-top: 100px;
}


.subject
{
    margin-bottom: 100px;
}
.subjectTitle
{
    float: left;
    color: #5C5C5C;
    width: 200px;
    margin-bottom: 50px;
}
.subjectInfo{
    margin-bottom: 20px;
    float: left;
    width: 690px;
    height: 42px;
    position: relative;
}
.subjectcontent{
    width: 800px;
    height: auto;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 120px;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 100;
}
.score
{
    /*background-image: -webkit-linear-gradient(top, #3B3D42, #232425); */
    background-color: white;
    width: 400px; 
    height: 25px;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 90px auto auto;
    position: absolute;
}


.actualScore
{
    background-color: #5C5C5C;
    height: 25px;
    border-radius: 5px;
}
.subject a{
    color: #333333;

    margin-top: -25px;
}
.precents{
    margin-left: 620px;
}
h1{
    margin: 0
}
.userName{
    float: left;  margin-top: 10px;  margin-left: 30px;
}
.level{
    float: left;  margin-top: 10px; padding-left: 170px;
}
.completeHomeworks{
    float: left;  margin-top: 10px; padding-left: 350px; padding-right: 180px;
}
.leveluser{
    float: left;
    text-align: center;
    height: 190px;
    width: 150px;
}
.table{
    float: right;
    text-align: right;
    color: white;
}
.table span{
    color: white;
    font-weight: bold
}
.tableContent{
    width: 637px;
    left: 0px;
    right: 0px;
    margin: 5px auto;
}
.maintablecontent{
    margin-top: 120px;
}
#tabContent table{
    color: #333333;
    font-size: 20px;
    background-repeat: repeat-x;
    background-color: white;
}
#tabTitle .byline{
    color: white;
}
/*
#tabTitle{
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #666666, #333333);  
    text-align: center;
    height: 40px;
}
*/
#tabTitle{ 
    height: 40px;
    text-align: justify;
    width: 637px;
    /* just for demo 
    min-width: 612px;*/
}
.margintext{
    height: 40px;
    text-align: justify;
    width: 552px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.tabContent{
    height: 40px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width: 635px;
    border: 1px #666666 solid;
    background-color: #5C5C5C
}
.tableCont .tabContent{
    min-width: 550px;
}
.subjectTable{
    width: 552px;

}
.subjectTable .task{
    width: 400px;
}
.contentMargin{
    width: 552px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.contentMargin .tabContent{
    padding-bottom: 5px;
}
.contentMargin .tableTitle{
    padding-top: 5px;
}
.tableTitle{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 125px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
}
.centerTitle{
    margin-right: 280px;
}

.stretch{
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
p{
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5C5C5C;
}
.achDescription{
    position: relative;
    width: 600px;
    height: 20px;
    padding-top: 30px;
}
.achievement{
    position: relative;
    margin-bottom: 70px;
    height: 100px;
}
.achievement img{
    height: 100px;
    width: 100px;
    margin-right: 50px
}
.payCoinsButton{
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: white;
    border: 0px;
    outline: 0px;
    color: #5C5C5C;
    font-weight: bold;
}
.payCoinsButton:hover{
    background-color: #30EEAF;
    cursor: pointer
}
.active{


}
input[type="button"]:disabled{
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #a3a3a3 , #666666); 
}

.grade{
    position: relative;
    background-color: white;
    height: 40px;
    color: #5C5C5C;
    border: 0;
    line-height: 2em;
    outline: 0;
    padding: 0;
    margin: 0;
    text-indent: 15px;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.edit{
    float: right;
}
.date{
    width: 100px;
}
.container{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.nav{
    position: relative;
    height: 100%;
    width: 100%;
}
.login{
    position: absolute;
    background-color: #FFFFFF;
    height: 450px;
    width: 450px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-bottom: auto;
    margin-left:  auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 10px;
    overflow: hidden;
}
.lognav{
    background-color: #5C5C5C;
    height: 50px;
}
.lognav-log{
    position: relative;
    height: 50px;
    width: 50%;
    background-color: #FFFFFF;
    float: left;
}
.lognav-log:hover{
    cursor: pointer;
}
.lognav-log div{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    font-family: sans-serif;
    color: #5C5C5C;
    width: 100px;
    height: 20px
}
.lognav-reg{
    position: relative;
    height: 50px;
    width: 50%;
    float: right;
}
.lognav-reg:hover{
    cursor: pointer;
}
.lognav-reg div{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    font-family: sans-serif;
    color: #FFFFFF;
    width: 100px;
    height: 20px
}
.insidelogin{
    position: absolute;
    height: 200px;
    width: 400px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-bottom: auto;
    margin-left:  auto;
    margin-right: auto;
    margin-top: auto;
}
.divinput{
    position: relative;
}
.divinput ul{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    padding: 0;
    list-style-type: none;
}
.divinput ul li{
    background-color: #5C5C5C;
    border-radius: 5px
}
.liinsideul{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 40px;
}
.inputtext{
    position: relative;
    top: 7px;
    width: 50px;
    left: 5px;
    height: 25px;
    display: inline-block;
    color: #FFFFFF
}
.inputtext div{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    width: 24px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.inputdiv{
    position: relative;
    display: inline-block;
    left: 10px;
}
.divinput input{
    position: relative;
    background-color: #5C5C5C;
    height: 38px;
    width: 295px;
    color: #FFFFFF;
    border: 0;
    line-height: 2em;
    outline: 0;
}
.divinput select{
    position: relative;
    background-color: #5C5C5C;
    height: 38px;
    width: 295px;
    color: #a9a9a9;
    border: 0;
    line-height: 2em;
    outline: 0;
    text-indent: 6px;
}
.li2{
    position: relative;
    top: 30px;
}
.button{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 100px;
    top: 30px;
}
.button input{
    height: 40px;
    width: 100px;
    background-color: #5C5C5C;
    border: 0px;
    border-radius: 5px;
    outline: 0px;
    color: #FFFFFF;
    font-weight: bold 
}
.button input:hover{
    background-color: #30EEAF;
    cursor: pointer
}
.button2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 100px;
    top: 60px;
}
.button2 input{
    height: 40px;
    width: 100px;
    background-color: #5C5C5C;
    border: 0px;
    border-radius: 5px;
    outline: 0px;
    color: #FFFFFF;
    font-weight: bold 
}
.button2 input:hover{
    background-color: #30EEAF;
    cursor: pointer
}
.insidelogin2{
    position: absolute;
    height: 420px;
    width: 400px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-bottom: auto;
    margin-left:  auto;
    margin-right: auto;
    margin-top: auto;
    display: none;
}
.li4{
    position: relative;
    top: 40px;
}
.li5{
    position: relative;
    top: 50px;
}
.li6{
    position: relative;
    top: 60px;
}
.li1{
    position: relative;
    top: 20px;
}
.li8{
    position: relative;
    top: 10px;
}
.ul0{
    margin: 0
}
.li10{
    position: relative;
    top: 10px;
}
textArea{
    height: 195px;
    width: 350px;
    border: 0px;
    background-color: rgba(215, 44, 44, 0);
    color: #FFFFFF;
    outline: 0px;
    padding: 10px 10px 10px 10px;
    resize: none
}
.error_message{
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', serif;
    color: #FF5F5E;
    font-size: 12px;
}